<navigation></navigation>
<div class="navbar-offset">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row marketing">
            <h2>VÅRT MÅL - FÖRÄNDRA RETURHANTERINGEN</h2>
            <p>Många ser returer som ett problem, vi ser möjligheter</p>
          </div>
        </div>
      </div>
      <div class="row marketing">
        <div class="col-md-12">
          <p>En väldigt stor fråga för handlare idag är fri frakt eller inte? Väldigt bra logistik lösningar finns idag inom handeln, men få skiljer på utflödet och returflödet. Genom att separera hanteringen av returer kan man skapa ett mycket effektivare flöde och få värdefull feedback</p>
        </div>
      </div>
      <div class="row marketing">
        <div class="col-md-12">
          <p>Avancerad dataanalys kommer i framtiden göra väldigt stor skillnad hur vi driver våra verksamheter. Vi har jobbat i spelbranchen i många år där dataanalys är en självklarhet för att kunna konkurera. Med dessa erfarenheterna ger vi oss nu på returhantering på nätet.</p>
        </div>
      </div>
      <div class="row marketing">
        <div class="col-md-12">
          <p>Genom att analysera köp, ångerköp, byten och reklamationer kan vi förutse beteende och mönster från kunderna och agera därefter</p>
        </div>
      </div>
    </div>
  </div>
</div>
