<navigation></navigation>
<div class="navbar-offset">
  <div class="alert alert-danger" ng-show="error!=null">{{error}}</div>
  <div class="container-fluid pitch-welcome">
    <div class="jumbotron jumbo">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row marketing text-center red-text">
              <h1>SMARTA RETURER</h1>
              <p>Vi sköter returerna för din e-handel</p>
            </div>
            <div class="row marketing">
              <a href="#/interest" class="btn btn-danger">Anmäl intresse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbo none-border-bottom">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="col-sm-4 col-md-4">
          <div class="caption">
            <h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></h3>
            <h4>Ökad spårbarhet</h4>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="caption">
            <h3><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h3>
            <h4>Effektivare inköp</h4>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="caption">
            <h3><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h3>
            <h4>Nöjdare kunder</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbo pitch-time">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row marketing">
          <h2>Lämna returerna till oss</h2>
          <p>
            så du får tid över till annat
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="page-header text-center border-none">
      <h1>Dataanalys ger dig bättre insikt</h1>
    </div>
  </div>
  <div class="row">
    <img class="img-thumbnail img-responsive border-none" src="/images/tip-of-the-iceberg.png">
  </div>
</div>
<div class="jumbotron jumbo footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row marketing">
          <h2>Behöver du mer information?</h2>
          <a href="#/about" class="btn btn-info">Klicka här</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
